

# learn_sluzba:
# https://github.com/ajgorhoe/IGLib.workspace.base.iglearn_sluzba.git
/learn_sluzba
/learn_sluzba1

/iglibmodules
/iglibmodules1
/iglibmodules2

/iglibmodules_CORE
/iglibmodules_CORE1

/iglibmodules_ALL
/iglibmodules_ALL1

/workspaceprojects
/workspaceprojects1

/workspaceprojects_all
/workspaceprojects_all1


/iglibmodules_LEGACY
