[submodule "workspaceprojects/00tests"]
	path = workspaceprojects/00tests
	url = https://gitlab.com/ajgorhoe/iglib.workspaceprojects.00tests.git
	branch = master
[submodule "workspaceprojects/00testsext"]
	path = workspaceprojects/00testsext
	url = https://gitlab.com/ajgorhoe/iglib.workspaceprojects.00testsext.git
	branch = master
[submodule "workspaceprojects/anka"]
	path = workspaceprojects/anka
	url = https://gitlab.com/ajgorhoe/iglib.workspaceprojects.anka.git
	branch = master
[submodule "workspace/z_courses"]
	path = workspace/z_courses
	url = https://gitlab.com/ajgorhoe/iglib.workspace.z_courses.git
	branch = master
[submodule "workspace/doc/codedoc"]
	path = workspace/doc/codedoc
	url = https://gitlab.com/ajgorhoe/iglib.workspace.codedoc.git
	branch = master
[submodule "workspace/igcpp"]
	path = workspace/igcpp
	url = https://gitlab.com/ajgorhoe/iglib.workspace.igcpp.git
	branch = master
[submodule "workspace/develop_cobik"]
	path = workspace/develop_cobik
	url = https://gitlab.com/ajgorhoe/iglib.workspace.develop_cobik.git
	branch = master
[submodule "workspace/applications"]
	path = workspace/applications
	url = https://gitlab.com/ajgorhoe/iglib.workspace.applications.git
	branch = master
[submodule "workspace/base/iglib"]
	path = workspace/base/iglib
	url = https://gitlab.com/ajgorhoe/iglib.workspace.base.iglib.git
	branch = master
[submodule "workspace/base/igsolutions"]
	path = workspace/base/igsolutions
	url = https://gitlab.com/ajgorhoe/iglib.workspace.base.igsolutions.git
	branch = master
[submodule "workspace/base/igapp"]
	path = workspace/base/igapp
	url = https://gitlab.com/ajgorhoe/iglib.workspace.base.igapp.git
	branch = master
[submodule "workspace/base/data"]
	path = workspace/base/data
	url = https://gitlab.com/ajgorhoe/iglib.workspace.base.data.git
	branch = master
[submodule "workspace/base/igtest"]
	path = workspace/base/igtest
	url = https://gitlab.com/ajgorhoe/iglib.workspace.base.igtest.git
	branch = master
[submodule "workspace/base/igsandbox"]
	path = workspace/base/igsandbox
	url = https://gitlab.com/ajgorhoe/iglib.workspace.base.igsandbox.git
	branch = master
