
/output
/data
/igapp
/iglib
/iglearn
/igsandbox
/igsolutions
/igtest
/shelldev
/unittests
/bin

/0000trash/trash_contents
/iglibexternal
/iglibapp


# IGLibCore: The basic low level IGLib library.
/IGLibCore
/IGLibCore1
/IGLibCore2

# IGLibScripts: Helpful scripts.
/IGLibScripts
/IGLibScripts1
/IGLibScripts2

# IGLibScriptsPS: Fork of IGLibScripts where PowerShell scripts are retained.
/IGLibScriptsPS

# IGLibScriptsEXP: Fork of IGLibScripts - experimental (maybe deleted i the future).
/IGLibScriptsEXP

# IGLibScripting: Basic scripting library for IGLib.
/IGLibScripting
/IGLibScripting1
/IGLibScripting11

# IGLibScriptingCs: C# scripting library for IGLib.
/IGLibScriptingCs
/IGLibScriptingCs1
/IGLibScriptingCs2

# IGLibGraphics3D: 3D Graphics library for IGLib.
/IGLibGraphics3D
/IGLibGraphics3D1
/IGLibGraphics3D2

# IGLibSandbox: The development sandbox for IGLib libraries.
/IGLibSandbox
/IGLibSandbox1
/IGLibSandbox2

# IGLibApps: IGLib applications.
/IGLibApps
/IGLibApps1
/IGLibApps2

# IGLibEventAggregator: Simple event aggregator project, currently not in use 
# but may be revived in some time the future.
/IGLibEventAggregator
/IGLibEventAggregator1
/IGLibEventAggregator2

# HashForm: Small MAUI learning project.
/HashForm
/HashForm1
/HashForm2


